<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
{{>navbar}}

<!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row"> 
                <!--Left side div-->
                    <div class="col-md-12 col-12 main_header_left ">
        <figure class="errorImg">
            <img src="images/img5.svg" alt="exposure boy" class="img-fluid" title="abhish">
        </figure>
                <h1 class="makeCenter">{{errorMsg}}</h1>
                <a class="makeCenter" href="/" ><button>Go Back</button></a>
                </div>
                <!--Right side div-->

                </div>
            </div>
        </div>
    </div>
   <!--Footer Code-->
   {{>footer}}

</body>
</html>